<div class="layui-footer footer admin-footer">
    <div class="layui-main">
        <p>湖南天瑞通信技术有限公司 &nbsp;&nbsp;&nbsp;Copyright ©2009-2017&nbsp;&nbsp;&nbsp;<a href="http://www.hntrtx.com/" target="_blank">hntrtx.com</a>&nbsp;&nbsp;&nbsp;</p>
        <!--<p>-->
            <!--<a id="pay" href="javascript:;">捐赠作者</a>-->
            <!--<a id="git" href="javascript:;">Git仓库</a>-->
            <!--<a id="weibo" href="javascript:;">微博</a>-->
            <!--<a id="weixin" href="javascript:;">微信公众号</a>-->
        <!--</p>-->
        <p>湘ICP备18010062</p>
    </div>
</div>