<meta charset="UTF-8">
<title>[title]</title>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="keywords" />
<meta name="description" content="description" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link type="image/x-icon" href="/static/admin/img/icon.ico" rel="icon" />
<link href="/static/plus/layui/css/layui.css" rel="stylesheet" />
<link href="/static/admin/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
<!--<link href="/static/home/font-alicdn/iconfont.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="/static/admin/css/global.css">-->
<!--<link rel="stylesheet" href="//at.alicdn.com/t/font_ehyfalsk6ex0qkt9.css">-->
<link href="/static/admin/css/mine.css" rel="stylesheet" />
<script src="/static/plus/layui/layui.js" charset="utf-8"></script>