<!DOCTYPE html>
<html lang="en">
<head>
    {include file="base/head" title="职位查看"/}
</head>
<style>
    .main {
        margin: 5px;
    }
</style>
<body>
<div class="main">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">职位名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{$positionInfo.f_position_name}" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作地点</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{$positionInfo.f_position_place}" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">人数</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{$positionInfo.f_position_num}" disabled>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">职位要求</label>
            <div class="layui-input-block layui-textarea">
                {$positionInfo.f_position_require}
            </div>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['form'], function () {
        var form = layui.form;

    });
</script>
</html>