<!DOCTYPE html>
<html lang="en">
<head>
    {include file="base/head" title="$companyInfo.f_company_name"/}
    <link rel="stylesheet" href="/static/home/css/article.css">
</head>
<body>
<!--[if lt IE 9]-->
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="/static/common/js/respond.min.js"></script>

<![endif]-->
{include file="base/header" /}
<div class="main" id="main">
    <input type="hidden" id="menuId" value="{$menuId}">
    <div class="layui-row page-width layui-col-space30">
        <div class="layui-col-sm3 sub-nav layui-hide-xs">
            <div class="layui-row">
                {include file="base/article_nav" /}
                {include file="base/contact_nav" /}
            </div>
        </div>
        <div class="layui-col-sm9 content-container">
            <div class="layui-row">
                {include file="base/article_breadcrumb" /}
                <div class="layui-col-sm12 article-content">
                    {if condition="$articleData.f_article_content neq ''"}
                    {$articleData.f_article_content}
                    {else /}
                    <span class="article-blank">请先发表...</span>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/footer" /}
</body>
<script src="/static/home/js/global.home.js"></script>
</html>