<div class="layui-col-sm12">
  <div class="atitle layui-hide-xs">
    <span>{$posCurr.smenu_name}</span>
    <span class="layui-breadcrumb fr" lay-separator=">">
          <a href="/">首页</a>
          <a href="{$navFirst}">{$posCurr.pmenu_name}</a>
          <a><cite>{$posCurr.smenu_name}</cite></a>
        </span>
  </div>
  <div class="m-atitle layui-hide-sm">
    <p class="bread-p">
      <span class="layui-breadcrumb" lay-separator=">">
              <a href="/">首页</a>
              <a href="{$navFirst}">{$posCurr.pmenu_name}</a>
              <a><cite>{$posCurr.smenu_name}</cite></a>
            </span>
    </p>
    <!--<h2 class="text-center">{$posCurr.smenu_name}</h2>-->
  </div>
</div>