<div class="contact-info-box" style="padding-top: 1rem;">
  <table class="layui-table" lay-skin="nob" style="border: 1px solid #cecece;">
    <tbody>
      <tr>
        <td class="contact-title font-bai">联系我们</td>
      </tr>
      <tr>
        <td><i class="fa fa-phone">&nbsp;&nbsp;</i>{$companyInfo.f_tel}</td>
      </tr>
      <tr>
        <td><i class="fa fa-fax">&nbsp;&nbsp;</i>{$companyInfo.f_fax}</td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope">&nbsp;&nbsp;</i>{$companyInfo.f_email}</td>
      </tr>
      <tr>
        <td><i class="fa fa-eercast">&nbsp;&nbsp;</i>{$companyInfo.f_address}</td>
      </tr>
    </tbody>
  </table>
</div>