<div class="footer my-bg-blue">
    <div class="layui-row page-width">
        <div class="layui-col-xs12 layui-col-sm4 text-center logo">
            <img src="/static/home/img/biaoyu.png" alt="">
        </div>
        <div class="layui-col-xs12 layui-col-sm4 footer-mid" style="line-height: .5rem;padding-top: .1rem;">
            <p>公司地址：{$companyInfo.f_address}
            <p><a href="http://www.hntrtx.com" class="font-bai">{$companyInfo.f_website_url}</a>&nbsp;&nbsp;&nbsp;<a
                href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" class="font-bai">湘ICP备18010062</a></p>
            <p>©Copyright 2018 {$companyInfo.f_company_name}</p>
        </div>

        <div class="layui-col-xs12 layui-col-sm4 text-center share-box" id="share">
            <a href="javascript:;" class="qq" data-title="分享到QQ">&nbsp;</a>
            <a href="javascript:;" class="weibo" data-title="分享到新浪">&nbsp;</a>
            <a href="javascript:;" class="weixin" data-title="分享到朋友圈">&nbsp;</a>
            <a href="javascript:;" class="qqzone" data-title="分享到QQ空间">&nbsp;</a>
        </div>
    </div>
</div>