<!DOCTYPE html>
<html lang="en">
<head>
    {include file="base/head" title="文章列表"}
</head>
<body>
<div class="main-wrap">
    <div class="y-role">
        <!--工具栏-->
        <div class="layui-btn-group demoTable">
            <button class="layui-btn layui-btn-sm do-action" data-type="delete" data-belong="article"
                    data-url="/api/ApiAdmin/articleListDeleteById"><i
                    class="fa fa-trash-o"></i>删除
            </button>
            <button class="layui-btn layui-btn-sm do-action" data-type="doRefresh"><i
                    class="fa fa-refresh"></i>刷新
            </button>
        </div>
        <table id="tableList" lay-filter="tableList"></table>
        <script type="text/html" id="barTest">
            <a class="layui-btn layui-btn-primary layui-btn-xs" data-type="article"
               data-url="/admin/DoAction/articleCheck?id="
               lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" data-type="article" data-url="/admin/DoAction/articleEdit?id="
               lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" data-type="article"
               data-url="/admin/DoAction/articleDeleteById?id="
               lay-event="del">删除</a>
        </script>
    </div>

</div>
</body>
<script src="/static/admin/js/global.js"></script>
<script>
    TSCOP = {
        'updateArticleCrateTime_URL': '/api/ApiAdmin/updateArticleCrateTime'
    };
    layui.use(['table', 'jquery', 'common', 'layer', 'validator'], function () {
        var $ = layui.jquery
//            , layer = layui.layer
            , common = layui.common
            , table = layui.table
            , validator = layui.validator;

        table.render({
            elem: '#tableList'
//            , height: 400
            , url: '/api/ApiAdmin/queryArticleList' //数据接口
            , even: false //若不开启隔行背景，不设置该参数即可
            , skin: ''
            , page: true //开启分页
            , where: {type: 2}// 2 文章   3代表 新闻
            , limit: 10
            , cols: [[ //表头
                {type: 'checkbox', fiexd: 'left'}
//                , {field: 'f_article_id', title: 'ID', width: 80, sort: true}
//                , {field: 'f_article_title', title: '标题', width: 400}
                , {field: 'f_pmenu_name', title: '主类型', sort: true}
                , {field: 'f_menu_name', title: '子类型', width: 300}
                , {field: 'f_real_time', title: '发布时间(可修改)', edit: 'text', width: 150, sort: true}
                , {field: 'f_create_time', title: '创建时间', width: 120, sort: true}
                , {fixed: 'right', title: '操作', align: 'center', width: 160, toolbar: '#barTest'}
            ]]
            , done: function (res) {

            }
        });
        table.on('edit', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            if (!validator.IsDateTime(obj.value)) {
                layer.msg('日期格式不正确,请重新修改!');
                return;
            }
            var articleId = obj.data.f_article_id
                , dateStr = obj.value + ' 00:00:00';
            common.ajax(TSCOP.updateArticleCrateTime_URL, 'POST', 'JSON', {
                f_article_id: articleId,
                f_real_time: dateStr
            }, true, function (res) {
                if (res.code == 1200) {
                    common.layerMsg(6, res.msg, 2000);
                } else {
                    common.layerAlert(2, res.msg, '提示');
                }
            })
        });
    });
</script>

</html>