<!DOCTYPE html>
<html lang="en">
<head>
    {include file="base/head" title="个人主页"}
</head>
<body>
<div class="main-wrap clearfix">
    <div class="main-wrap-left">
        <!--<div class="head-box clearfix">-->
            <!--<div class="img-box">-->
                <!--<img src="/static/admin/img/91a56783a7056f2994023e5a81e63b28.png" width="32" height="32">-->
            <!--</div>-->
            <!--<div class="inner">-->
                <!--<h3>Hi，测试用户</h3>-->
                <!--<p>代理级别：1</p>-->
                <!--<p>个人积分：9999</p>-->
                <!--<p>-->
                    <!--<a href="Manager_pwd">设置头像</a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="inner">-->
                <!--<h3>资产账户</h3>-->
                <!--<p>未绑定设备！</p>-->
                <!--<p><a class="layui-btn layui-btn-small do-action" data-type="doAdd" data-href=""><i-->
                        <!--class="fa fa-plus"></i>绑定设备</a></p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="index_show_area">
            <div class="index_tap added">
                <ul class="inner">
                    <li class="grid_item size1of2 index_tap_item added_message">
                        <a href="#">
                                <span class="tap_inner">

                                    <em class="number">100</em>
                                    <strong class="title">用户量</strong>
                                </span>
                        </a>
                    </li>
                    <li class="grid_item size1of2  index_tap_item added_fans">
                        <a href="#">
                                <span class="tap_inner no_extra">

                                    <em class="number">10</em>
                                    <strong class="title">今日注册</strong>
                                </span>
                        </a>
                    </li>
                    <li class="grid_item size1of2 index_tap_item added_fans">
                        <a href="#">
                                <span class="tap_inner no_extra">
                                    <em class="number">10</em>
                                    <strong class="title">今日订房数</strong>
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="index_tap total">
                <ul class="inner">
                    <li class="index_tap_item total_fans extra">
                        <a href="#">
                                <span class="tap_inner">

                                    <em class="number">10</em>
                                    <strong class="title">今日评论</strong>
                                </span>
                        </a>
                    </li>
                    <li class="index_tap_item total_fans extra">
                        <a href="#">
                                <span class="tap_inner">

                                    <em class="number">1000</em>
                                    <strong class="title">总评论数</strong>
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<blockquote class="layui-elem-quote">-->
            <!--<p>本后台管理基于LayUI开发 ,支持所有LayUI组件.</p>-->
            <!--<p>LayUI文档地址：<a href="http://www.layui.com/doc" target="_blank">http://www.layui.com/doc</a></p>-->
            <!--<p>LayUI演示地址：<a href="http://www.layui.com/demo" target="_blank">http://www.layui.com/demo</a></p>-->
            <!--<p>讨论交流群：<a href="https://jq.qq.com/?_wv=1027&k=44jYs2T" target="_blank">快捷传送门</a> 00</p>-->
        <!--</blockquote>-->
        <!--<blockquote class="layui-elem-quote fhuaui-tip">-->
            <!--看世间纷纷扰扰，唯我独清；问世间繁繁华华，愿君共明<br/>-->
            <!--同学们能不能帮点下赞捏：.Net WebCMS后台管理系统 地址：<a href="http://fly.layui.com/case/2017" target="_blank">http://fly.layui.com/case/2017</a>-->
        <!--</blockquote>-->
    </div>
    <div class="main-wrap-right">
        <fieldset class="layui-elem-field">
            <legend>待处理订单</legend>
            <div class="layui-field-box">
                <div class="admin-log-list clearfix">
                    <div class="admin-log-span admin-log-avatar">
                        <a class="avatar">
                            <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100"/>
                        </a>
                    </div>
                    <div class="admin-log-span admin-log-title">
                        <h2>将layui升级到1.0.9版本，紧随闲心大大步伐</h2>
                        <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">新版功能</a></p>
                        <div class="admin-log-content">
                            <h2>新版功能</h2>
                            <p>1.将layui升级到1.0.9版本</p>
                            <p>2.修改了一些页面布局</p>
                            <p>3.修复Tab选项卡容器中使用下拉框时，被溢出隐藏的问题</p>
                            <p>4. 修复Tab选项卡溢满情况下，点击展开按钮，再在外部添加一个选项卡出现异常的bug</p>
                        </div>
                    </div>
                    <div class="admin-log-span admin-log-date">
                        <p>2017-02-28 更新</p>
                    </div>
                </div>
                <div class="admin-log-list clearfix">
                    <div class="admin-log-span admin-log-avatar">
                        <a class="avatar">
                            <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100"/>
                        </a>
                    </div>
                    <div class="admin-log-span admin-log-title">
                        <h2>将layui升级到1.0.8版本，添加tab右键菜单功能</h2>
                        <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">新版功能</a></p>
                        <div class="admin-log-content">
                            <h2>新版功能</h2>
                            <p>1.将layui升级到1.0.8版本</p>
                            <p>2.添加tab右键菜单功能（Author:Beginner）</p>
                        </div>
                    </div>
                    <div class="admin-log-span admin-log-date">
                        <p>2017-02-24 更新</p>
                    </div>
                </div>
                <div class="admin-log-list clearfix">
                    <div class="admin-log-span admin-log-avatar">
                        <a class="avatar">
                            <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100"/>
                        </a>
                    </div>
                    <div class="admin-log-span admin-log-title">
                        <h2>jqgrid整合中</h2>
                        <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">新版功能</a></p>
                        <div class="admin-log-content">
                            <h2>新版功能</h2>
                            <p>1.jqgrid整合</p>
                            <p><img src="/Uploads/201702/t1.png"/></p>
                        </div>
                    </div>
                    <div class="admin-log-span admin-log-date">
                        <p>2017-02-25 暂时搁浅</p>
                    </div>
                </div>
                <div class="admin-log-list clearfix">
                    <div class="admin-log-span admin-log-avatar">
                        <a class="avatar">
                            <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100"/>
                        </a>
                    </div>
                    <div class="admin-log-span admin-log-title">
                        <h2>功能完善</h2>
                        <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">新版功能</a></p>
                        <div class="admin-log-content">
                            <h2>新版功能</h2>
                            <p>1.完善文章管理</p>
                            <p>2.完善类别管理</p>
                            <p>3.用户管理新增账号解锁、锁定功能</p>
                            <p>3.完善操作日志分页、查询功能</p>
                        </div>
                    </div>
                    <div class="admin-log-span admin-log-date">
                        <p>2017-01-19 更新</p>
                    </div>
                </div>
                <div class="admin-log-list clearfix">
                    <div class="admin-log-span admin-log-avatar">
                        <a class="avatar">
                            <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100"/>
                        </a>
                    </div>
                    <div class="admin-log-span admin-log-title">
                        <h2>FhAdminUI开放下载</h2>
                        <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">新版功能</a></p>
                        <div class="admin-log-content">
                            <h2>新版功能</h2>
                            <p>1.FhAdminUI已开源 <a href="" target="_blank">点击下载</a></p>
                            <p>2.新增文章列表</p>
                        </div>
                    </div>
                    <div class="admin-log-span admin-log-date">
                        <p>2017-01-17 更新</p>
                    </div>
                </div>
                <div class="admin-log-list clearfix">
                    <div class="admin-log-span admin-log-avatar">
                        <a class="avatar">
                            <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100"/>
                        </a>
                    </div>
                    <div class="admin-log-span admin-log-title">
                        <h2>后台管理系统</h2>
                        <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">新版功能</a></p>
                        <div class="admin-log-content">
                            <h2>新版功能</h2>
                            <p>1.操作日志登录新增浏览器、操作系统、设备信息记录</p>
                            <p>2.首页新增更新日志</p>
                        </div>
                    </div>
                    <div class="admin-log-span admin-log-date">
                        <p>2017-01-16 更新</p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</body>
<script src="/static/admin/js/global.js"></script>
<script src="/static/admin/js/list.js"></script>
<script src="/static/admin/js/log.js"></script>
</html>