<!DOCTYPE html>
<html lang="en">
<head>
    {include file="base/head" title="链接列表"}
</head>
<body>
<div class="main-wrap">
    <blockquote class="layui-elem-quote fhui-admin-main_hd">
        <h2>后台导航菜单管理</h2>
    </blockquote>
    <blockquote class="layui-elem-quote fhuaui-tip">后台导航菜单管理，可以灵活配置后台导航菜单，实时更新。</blockquote>
    <div class="y-role">
        <!--工具栏-->
        <div id="floatHead" class="toolbar-wrap">
            <div class="toolbar">
                <div class="box-wrap">
                    <a class="menu-btn"></a>
                    <div class="l-list">
                        <a class="layui-btn layui-btn-small do-action" data-type="doAdd" data-href="NavModify.html">
                            <i class="fa fa-plus"></i>新增</a>
                        <a class="layui-btn layui-btn-small do-action" data-type="doDelete"
                           data-href="/_Admin/NavDelete">
                            <i class="fa fa-trash-o"></i>删除</a>
                        <a class="layui-btn layui-btn-small do-action" data-type="doRefresh" data-href="">
                            <i class="fa fa-refresh fa-spin"></i>刷新</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/工具栏-->
        <!--文字列表-->
        <div class="fhui-admin-table-container">
            <form action="/_Admin/Nav_list" class="form-horizontal" id="formrec" method="post" role="form">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="2%">
                        <col width="5%">
                        <col width="">
                        <col width="5%">
                        <col width="8%">
                        <col width="5%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="selected-all"/>
                        </th>
                        <th>ID</th>
                        <th>导航菜单标题</th>
                        <th>排序</th>
                        <th style="text-align:center">是否启用</th>
                        <th style="text-align:center">默认</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input id="ck" ids="99" name="ck" type="checkbox" value="true"/><input name="ck"
                                                                                                   type="hidden"
                                                                                                   value="false"/>
                        </td>
                        <td>99</td>
                        <td><span class="folder-open"><i class="fa fa-file-text"></i></span>应用管理</td>
                        <td>98</td>
                        <td align="center"><i class="fa fa-toggle-on unlock"></i></td>
                        <td align="center">否</td>
                        <td>
                            <a class="layui-btn layui-btn-small do-action" data-type="doAdd" data-href="NavModify.html"><i
                                    class="icon-edit  fa fa-tasks"></i>添加子级</a>
                            <a class="layui-btn layui-btn-small do-action" data-type="doEdit"
                               data-href="NavModify.html"><i class="icon-edit  fa fa-pencil-square-o"></i>编辑</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="ck2" ids="80" name="ck" type="checkbox" value="true"/><input name="ck"
                                                                                                    type="hidden"
                                                                                                    value="false"/>
                        </td>
                        <td>80</td>
                        <td><span style="display:inline-block;width:0px;"></span><span class="folder-line"></span><span
                                class="folder-open"><i class="fa fa-paypal"></i></span>境外消费
                        </td>
                        <td>99</td>
                        <td align="center"><i class="fa fa-toggle-on unlock"></i></td>
                        <td align="center">否</td>
                        <td>
                            <a class="layui-btn layui-btn-small do-action" data-type="doAdd" data-href="NavModify.html"><i
                                    class="icon-edit  fa fa-tasks"></i>添加子级</a>
                            <a class="layui-btn layui-btn-small do-action" data-type="doEdit"
                               data-href="NavModify.html"><i class="icon-edit  fa fa-pencil-square-o"></i>编辑</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </form>
        </div>
        <!--/文字列表-->
        <!--分页
        <div class="fhui-admin-pagelist">
            <div id="page"></div>
        </div>
        -->
    </div>
</div>
</body>
<script src="/static/admin/js/global.js"></script>
<script src="/static/admin/js/list.js"></script>
</html>