<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--{include file="base/head" title="个人中心"/}-->
<!--</head>-->
<!--<body>-->
<!--<div class="fhui-admin-editInfo-container" id="editInfoLayer">-->
    <!--<form class="layui-form layui-form-pane">-->
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">姓名</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="admin_name" lay-verify="required" placeholder="请输入" autocomplete="off"-->
                       <!--class="layui-input">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">密码</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">-->
            <!--</div>-->
            <!--<div class="layui-form-mid layui-word-aux">请务必填写用户名</div>-->
        <!--</div>-->

        <!--<div class="layui-form-item">-->
            <!--&lt;!&ndash;<div class="layui-input-block">&ndash;&gt;-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>-->
            <!--&lt;!&ndash;<button type="reset" class="layui-btn layui-btn-primary">重置</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--</body>-->
<!--<script src="/static/admin/js/global.js"></script>-->
<!--<script>-->
    <!--layui.use(['common', 'form'], function () {-->
        <!--var $ = layui.jquery-->
            <!--, common = layui.common-->
            <!--, form = layui.form;-->

    <!--});-->
<!--</script>-->
<!--</html>-->