<!DOCTYPE html>
<html lang="en">

<head>
  {include file="base/head" title="企业荣誉"/}
</head>

<body>

  <div class="main-wrap">
    <form class="layui-form">
      <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
          <input type="text" name="title" required lay-verify="required" placeholder="请输入荣誉名称" autocomplete="off" maxlength="50" value="" lay-filter="title" class="layui-input" id="title-text">
        </div>
        <div class="layui-form-mid layui-word-aux">你还可以输入<span id="title-word-num">50</span>个字</div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <input type="hidden" id="coverImg" value="">
        <div class="layui-upload">
          <div>
            <button type="button" class="layui-btn fl" id="upload1">上传图片</button>
            <div class="layui-form-mid layui-word-aux">&nbsp;&nbsp;建议图片的宽度:1024px</div>
            <div class="layui-clear">&nbsp;</div>
          </div>

          <div class="layui-upload-list">
            <!--<div class="layui-upload-img">-->
            <label class="layui-form-label">&nbsp</label>
            <img class="layui-upload-img" id="demo1" style="max-width: 512px;">
            <!--</div>-->
            <p id="demoText"></p>
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block fl">
          <button class="layui-btn" lay-submit lay-filter="post">提交</button>
        </div>
      </div>
    </form>
  </div>
</body>
<script src="/static/admin/js/global.js"></script>
<script type="text/javascript">
  TSCOPE = {
    "insertFile_URL": "/api/ApiAdmin/insertFileData",
    "uploadFileRongYu_URL": "/api/Upload/uploadFileRongYu"
  };
  fmenuID = {
    ziZhiId: 12
  };
  layui.use(['form', 'common', 'upload'], function() {
    var $ = layui.jquery,
      form = layui.form,
      upload = layui.upload,
      common = layui.common;

    var imgageSrc, imgageSrc_thumb, bigWidth, bigHeight, imgFlag = 0;
    common.surveyWorldNum(); //监测标题字数
    //上传图片
    var uploadInst = upload.render({
      elem: '#upload1',
      url: TSCOPE.uploadFileRongYu_URL,
      accept: 'images',
      exts: 'jpg|png|jpeg',
      before: function(obj) {
        //预读本地文件示例，不支持ie8
        obj.preview(function(index, file, result) {
          $('#demo1').attr('src', result); //图片链接（base64）
        });
      },
      done: function(res) {
        //如果上传失败
        if (res.code > 0) {
          return layer.msg('上传失败');
        }
        //上传成功
        imgageSrc = res.data.src;
        imgageSrc_thumb = res.data.src_thumb;
        bigWidth = res.data.bigWidth;
        bigHeight = res.data.bigHeight;
        imgFlag = res.data.imgFlag;
      },
      error: function() {
        //演示失败状态，并实现重传
        var demoText = $('#demoText');
        demoText.html('<label class="layui-form-label">&nbsp</label> <a class="layui-btn layui-btn-mini demo-reload">重试</a><span style="color: #FF5722;">上传失败</span>');
        demoText.find('.demo-reload').on('click', function() {
          uploadInst.upload();
        });
      }
    });

    //发表
    form.on('submit(post)', function(formData) {
      var data = formData.field;
      if (!imgageSrc || !imgageSrc_thumb) {
        common.layerMsg(5, '请上传图片！', 2000);
        return false;
      }
      var postData = {
        "f_menu_id": fmenuID.ziZhiId,
        "f_file_title": data.title,
        "f_large_file_path": imgageSrc,
        "f_small_file_path": imgageSrc_thumb,
        "f_large_file_width": bigWidth,
        "f_large_file_height": bigHeight,
        "f_img_flag": imgFlag
      };
      common.ajax(TSCOPE.insertFile_URL, 'POST', 'JSON', postData, true, function(res) {
        if (res.code == 1200)
          common.layerMsg(1, res.msg, 2000, function() {
            window.location.reload();
          });
        else
          common.layerAlert(2, res.msg, '提示');
      });
      return false;
    });
  })
</script>

</html>